<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <app-input-country
            (onDebounce)="suggestion($event)"
            (onEnter)="buscar($event)">
        </app-input-country>
    </div>
</div>
<hr>
<div *ngIf="!isHttpOk && termino.length > 0" class="alert alert-danger">
    <p> No se encontro el país que esta buscando...<i>({{termino}})</i></p>
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-country-table [paises]="paises"></app-country-table>
    </div>
</div>